.send {
  position: fixed;
  bottom: 0;
  right: auto;
  /* width: 300px; */
  width: 300px;
  font-size: 18px;
  letter-spacing: .1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  /* margin: 40px ; */
  margin: 0 0;
}

.submit {
  position: fixed;
  bottom: 0;
  right: 658px;
  width: 90px;
  font-size: 18px;
  letter-spacing: .1px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  cursor: pointer;
}