/* img {
  height: auto;
  width: 300px;
} */
main {
  display: flex;
  flex-direction: wrap;
  

}

.side-bar {
  margin-left: 20px;
}

.img-container {
  position: relative
}
.center {
  position: absolute;
  top: 40%;
  right: 53%;
  color: white;
  cursor: pointer;
}
.toggle-topics {
  cursor: pointer;
  height: 150px;
  width: 295px;
}


.middle-container {
  margin-left: 100px;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  width: 450px;
  height: 100vh;
}



.right-container {
  margin-left: 200px;
}


.right-container img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin-top: 10em;
}

.sign-out {
  font-size: 18px;
  height:46px;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
}

.sign-up {
  font-size: 18px;
  height:46px;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
}