/* img {
  height: auto;
  width: 300px;
} */
main {
  display: flex;
  flex-direction: wrap;
  

}

.side-bar {
  margin-left: 20px;
}

.img-container {
  position: relative
}
.center {
  position: absolute;
  top: 40%;
  right: 37%;
  color: white;
  cursor: pointer;
}
.toggle-topics {
  cursor: pointer;
  height: 150px;
  width: 295px;
}


.middle-container {
  margin-left: 100px;
}



.right-container {
  margin-left: 200px;
}


.right-container img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin-top: 10em;
}

