/* img {
  height: auto;
  width: 300px;
} */
main {
  display: flex;
  flex-direction: wrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: 100; */

}
.user-greeting {
  font-weight: 100;
}

.side-bar {
  margin-left: 20px;
}

.img-container {
  position: relative
}
.center {
  position: absolute;
  top: 40%;
  right: 53%;
  color: white;
  cursor: pointer;
}
.toggle-topics {
  cursor: pointer;
  height: 150px;
  width: 295px;
}


.middle-container {
  margin-left: 100px;
  /* border-right: 2px solid grey;
  border-left: 2px solid grey; */
  width: 550px;
  /* height: 100vh; */
  height: auto;
}



.right-container {
  margin-left: 200px;
}


.right-container img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin-top: 10em;
}

.sign-buttons {
  display: flex;
}

.sign-out {
  font-size: 18px;
  height:46px;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
}

.sign-up {
  font-size: 18px;
  height:46px;
  width: 105px;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
}


@media only screen and (max-width: 1500px) {
  
  .sign-out {
    font-size: 14px;
    width: 105px;
  }
  .sign-up {
    font-size: 14px;
  }

  .center {
    right: 33%;
  }

}

