.thread-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-right: #bbb;
  width: 500px;
  /* width: 500px; */
  /* padding: 30px; */
}

.thread-container h1 {
  width: 550px;
  border-bottom: 2px solid #bbb;
}

.message-body {
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25); */
  box-shadow: 0px -10px 10px rgb(240, 240, 240);
      /* box-shadow: 0px 10px 10px rgb(240, 240, 240); */
}


.message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-left: 10px; */
  width: 520px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: red; */
}
.message-container p {
  margin-left: 10px;
}


.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.button-container p {
  margin-right: 20px;
}
.button-container .delete {
  cursor: pointer;
  text-decoration: underline;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
}

.user-image {
  /* height: 200px; */
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  /* margin-top: 10em; */
}



